<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ecommerce.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.example.ecommerce.entity.Product">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, description
    </sql>
</mapper>
